@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
}


header {
    background-color: #F5831F;
    max-width: 100%;
    height: 100px; /* Aseguramos la altura fija */
    display: flex;
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    padding: 20px; /* Espacio interno para que la imagen y los enlaces no estén pegados a los bordes */
}

.header-logo-image{
    padding: 1em;
    max-width: 60%;  
}

.header-links{
    font-size: 32px;
}

.header-link{
    padding-left: 100px;
    color: #231F20;
    text-decoration: none;
}

