@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #F5831F;
    max-width: 100%;
    height: 100px; /* Aseguramos la altura fija */
    display: flex;
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    padding: 20px; /* Espacio interno para que la imagen y los enlaces no estén pegados a los bordes */
    position: sticky;
    top: 0;
    z-index: 1000; /* Aseguramos que el header esté por encima de otros elementos */
}

.header-logo-image {
    padding: 1em;
    max-width: 150px;  
}

.header-links {
    font-size: 32px;
    margin-right: 50px;
}

.header-link {
    margin-left: 3rem;
    color: #231F20;
    text-decoration: none;
    transition: color 0.3s ease, margin-bottom 0.3s ease; /* Añadimos transición para suavizar los cambios */
    position: relative;
}

.header-link:hover {
    color: #ffffff; 
    margin-bottom: 5px; 
}

.header-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px; /* Altura de la línea inferior */
    bottom: -5px; /* Posición de la línea debajo del enlace */
    left: 0;
    background-color: #ffffff; /* Color de la línea inferior */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.header-link:hover::after {
    visibility: visible;
    width: 100%;
}

.main {
    position: relative;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/Background-main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-top: -100px;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cambia la opacidad según lo necesites */
    z-index: 1;
}

.main-content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 3em;
    line-height: 0.8; /* Ajusta este valor según tus necesidades */
    text-align: left;
    margin: 0 2em;
    border-radius: 20px;
    padding: 1em;
    width: 100%;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 108px;
    text-align: center;
}

.highlight {
    color: #F5831F;
}

.tabs-section {
    background-color: #231F20; /* Color de fondo para destacar la sección de pestañas */
    padding: 20px 0; /* Espaciado alrededor de las pestañas */
    position: static;
    top: 0; /* Pega la sección de pestañas en la parte superior */
    z-index: 999; /* Asegura que esté por encima del contenido */
    padding-top: 100px; /* Necesario para que el link funcione */
    margin-top: -100px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 60px;
}

.tablink {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 28px;
    line-height: 1.1;
    transition: color 0.3s ease, transform 0.3s ease;
    margin: 10px 5px;
    position: relative; /* Necesario para el pseudo-elemento */
}

.tablink::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Altura del borde inferior */
    left: 50%;
    bottom: -2px; /* Posición del borde debajo del texto */
    background-color: #F5831F;
    transition: width 0.3s ease, transform 0.3s ease;
    transform: translateX(-50%);
}

.tablink:hover {
    color: #F5831F;
    transform: scale(1.1);
}

.tablink:hover::after {
    width: 100%;
    transform: translateX(-50%);
}

.tablink::after {
    transform: translateX(-50%);
}

.tablink:not(:hover)::after {
    width: 0;
    transform: translateX(-50%);
}

.tabs-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #231F20;
    padding: 20px;
    height: 500px;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    text-align: center;
}

.tabcontent h2 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 20px;
}

.tabcontent p, .tabcontent ul {
    color: #ffffff;
    font-size: 29px;
    line-height: 1.6;
    padding-left: 5em;
    padding-right: 5em;
}

.profile-image {
    width: 200px;
    border-radius: 100%;
    transition: box-shadow 0.3s ease-in-out; /* Añadir transición para el box-shadow */
}

.profile-image:hover {
    box-shadow: 0 0 15px 5px rgba(245, 131, 31, 0.7); /* Añadir borde con difuminado */
}

.profile-images {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 20px;
}

.contact-section {
    padding: 40px;
    background-color: #231F20;
    color: #ffffff;
    text-align: center;
    padding-top: 100px; /* Ajusta según sea necesario */
    margin-top: -100px; /* Ajusta según sea necesario */
}

.contact-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 50px; 
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-section label {
    font-size: 18px;
}

.contact-section input, .contact-section textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-section button {
    padding: 10px 20px;
    background-color: #F5831F;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section button:hover {
    background-color: #000000;
}

#response-message {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

textarea{
    resize: none;
}

footer{
    max-width: 100%;
    height: 200px;
    background-color: #F5831F;
}

.slider {
    position: relative;
    max-width: 100%;
    height: 800px;
    overflow: hidden;
    margin-top: -100px;
    padding-top: 100px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 1; /* Asegura que la imagen esté debajo del texto */
}

.slide.active {
    opacity: 1;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Ajusta el color y la opacidad según tu necesidad */
    z-index: 2; /* Asegura que la capa de opacidad esté encima de la imagen pero debajo del texto */
}

.slide:nth-child(1) {
    background-image: url('../images/Our-services.jpg');
}

.slide:nth-child(2) {
    background-image: url('../images/Web-desing.jpg');
}

.slide:nth-child(3) {
    background-image: url('../images/Database.webp');
}

.slide:nth-child(4) {
    background-image: url('../images/Developing.jpg');
}

.slide:nth-child(5) {
    background-image: url('../images/data-investigation.jpg');
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 52px;
    padding: 10px;
    text-align: center;
    z-index: 3; /* Asegura que el texto esté encima de la capa de opacidad */
}

.text h2{
    font-size: 80px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 4;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover{
    background-color:#F5831F;
    transition: background-color 0.3s ease;
}
